#widgetCentral {
    background-color: rgb(255,255,255);
    border-radius: 8px;
    border: 2px solid rgb(79, 133, 233);
}


#widgetTitle {
	background-color: rgb(79, 133, 233);
}

#labelTitle {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

#pushButtonClose {
    border: none;
    image: url(:/QtFramelessWindowSample/Resources/close.svg);
}

#pushButtonClose:hover {
    border: none;
    image: url(:/QtFramelessWindowSample/Resources/close_h.svg);
}